* {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  
  header {
    background-color: white;
    color: black;
    padding: 1rem;
  }
  
  body {
    background-color: black;
    color: white;
  }
  
  footer {
    background-color: white;
    color: black;
    padding: 1rem;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: space-around
  }
  
  li:hover {
    color: gray;
  }
  
  .divMainContent {
    padding: 1rem;
    h2 {
      text-align: left;
    }
  }
  
  .divValues {
    display: flex;
  }