.divMainContent {
  padding: 1rem;
  h2 {
    text-align: center;
    padding: 1rem;
  }
}

.divSWOT {
  display: flex;
  justify-content: space-around;
}

.divNotices {
  p {
    margin: 1rem;
  }
  hr {
    padding: .7rem;
  }
}

.divMainAbout {
  display: flex;
  justify-content: space-around;
  img {
    width: 1.7rem;
  }
}

.divMainLoc {
  line-height: 2rem;
}